<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Explorer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/static/lib/datatable/datatables.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/window.css">
    <link rel="stylesheet" href="/static/css/index.css">
    
</head>

<body>
    <%- include('../partials/sidebar'); %>
        <div id="windows-container">
            <!-- Display connections -->
            <% for(var i=0; i<connections.length; i++){%>
                <div class="folder" onclick="CreateWindow(`<%= connections[i].id %>`)">
                    <img src="/static/img/folder.svg">
                    <span>
                        <%=connections[i].name%>
                    </span>
                </div>
            <%}%>
        </div>
</body>

<!-- Scripts -->
<script src="/static/lib/jquery-3.6.4.min.js"></script>
<script src="/static/lib/datatable/datatables.min.js"></script>
<script src="/static/js/window.js"></script>
<script src="/static/js/file-explorer.js"></script>
<script>
    function CreateWindow(connection_uuid){
        var window = new FileExplorer("#windows-container", connection_uuid);
        window.draw_window();
    }
</script>

</html>