<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Explorer - Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
    
    <form class="login-form" action="" method="post">
        <h2>Login</h2>
        <div class="form-input <% if (errors.username) { %> error <% }%>">
            <label for="">Username</label>
            <input type="text" name="username" id="" placeholder="Enter Username">
        </div>
        <br>
        <div class="form-input <% if (errors.password) { %> error <% }%>">
            <label for="">Password</label>
            <input type="password" name="password" id="" placeholder="Enter Password">
        </div>
        

        <!-- TODO: <div class="form-input-checkbox">
            <input type="checkbox" name="stay" id="">
            <label for="">Stay Signed In</label>
        </div>
        
        <p class="forgot-password">
            <a href="#">Forgot Password?</a>
        </p> -->
        <br>
        <button class="btn-submit">Login</button>
    </form>

</body>

</html>