.file-explorer {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.file-explorer .header {
  width: 100%;
  height: 30px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
}

.file-explorer .header .buttons {
  height: 100%;
}

.file-explorer .header .buttons button {
  width: 25px;
  height: 25px;
  margin: 2.5px;
  padding: 0;
  background-color: #f8f8f8;
  border: solid gray 1px;
}

.file-explorer .header .buttons button img {
  width: 20px;
  height: 20px;
  margin: auto;
}

.file-explorer .files-table {
  user-select: none;
}

.file-explorer .file-icon {
  width: 20px;
  height: 20px;
}

.file-explorer table {
  border-collapse: collapse;
}

.file-explorer .rows{
  overflow-y: auto;
}

.file-explorer .rows.scroll-disabled{
  overflow-y: hidden;
}

.file-explorer .dropzone{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 89, 255, 0.719);
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-explorer .dropzone p{
  font-size: 30px;
  color: white;
  font-weight: 500;
  user-select: none;
}

.row {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  font-size: 12px;
  font-weight: 500;
  border-top: 1px solid #e4e4e4;
  user-select: none;
}

.row.selected{
  background-color: #00aeff8f;
}

.row.header{
  font-size: 12px;
  font-weight: 700;
  background-color: #f3f3f3;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  font-size: 12px;
  user-select: none;
}

.file-explorer .rows .row:hover:not(.selected){
  background-color: #fafafa;
}

.row .cell {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 5px;
}

.row.header .cell.sortable:hover{
  background-color: #e4e4e4;
}

.row .cell.file-icon {
  width: 20px;
}

.row .cell.file-name {
  width: 100%;
}

.row .cell.file-type {
  width: 10%;
  min-width: 50px;
}

.row .cell.file-last-modified {
  width: 15%;
  min-width: 150px;
}

.row .cell.file-size {
  width: 120px;
}

.row .cell.file-permissions {
  width: 120px;
}