.container {
  width: 90%;
  min-height: 90vh;
  margin-left: calc((100% - 90% + 65px) / 2);
  margin-top: 40px;
}

.connection-input .edit-button{
    border: none;
    border-radius: 7px;
    width: 50px;
    height: 35px;
    background-color: rgb(0, 140, 255);
    color: white;
    float: right;
    margin-bottom: 5px;
}

.connection-input .name-section{
    width: 100%;
    display: flex;
    margin: 5px;
}

.connection-input .name-section input[type="text"]{
    width: 100%;
    font-family: 'Poppins';
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0px 5px;
    height: 35px;
}


.connection-input .path-section {
  width: 100%;
  display: flex;
  border-radius: 5px;
  margin: 5px;
}

.connection-input .path-section .connection-type-select {
    max-width: 250px;
    width: 25%;    
    height: 35px;
    padding: 5px;
    background-color: #dadada;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color: #353535;
    font-family: 'Poppins';
    font-size: 14px;
    outline: none;
}

.connection-input .path-section .connection-path-input {
    width: 100%;
    font-family: 'Poppins';
    font-size: 14px;
    outline: none;
    border: none;
    padding: 0px 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
