.resizable-table th{
    position: relative;
    padding: 0px 20px;
}

.resizable-table th .resizer{
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    cursor: col-resize;
    user-select: none;
    height: 100%;
    width: 2px;
    background-color: #c9c9c9;
}

.resizable-table th .resizer:hover{
    background-color: #474747;
}