@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}

html, body{
    margin: 0;
    padding: 0;
    background-color: #ebeaea;
}

.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: "Poppins";
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #999999;
    width: 65px;
}

.sidebar ul{
    list-style-type: none;
    padding-left: 12px;
}

.sidebar ul li{
    padding: 2px 5px;
    padding-left: 0;
}

.sidebar .sidebar-section{
    font-size: 14px;
    color: #cacaca;
}

.sidebar.collapsed .sidebar-section{
    font-size: 0px;
}

.sidebar .sidebar-item{
    font-size: 16px;
    margin-right: 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    padding: 10px 10px;
    text-align: center;
    position: relative;
}

.sidebar a{
    color: #999999;
    text-decoration: none;
}

.sidebar .sidebar-item:hover{
    background-color: #eeeeee;
}

.sidebar .sidebar-item a span{
    display: none;
    font-size: 16px;
    color: white;
    padding: 5px;
    background-color: #000;
    border-radius: 5px;
    position: absolute;
    top: -30px;
    left: 0px;
    font-size: 11px;
    min-width: 65px;
    user-select: none;
}

.sidebar .sidebar-item:hover a span{
    display: block;
}