.window {
  background-color: white;
  position: absolute;
  border-radius: 7px;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: 0 1rem;
  overflow: auto;
  resize: both;
}

.window .draggable-bar {
  position: fixed;
  width: inherit;
  height: 25px;
  background-color: #0099ff;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.window .draggable-bar .buttons {
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
}

.window .draggable-bar .buttons button {
  width: 30px;
  height: 25px;
  background-color: transparent;
  border: none;
  user-select: none;
}
.window .draggable-bar .buttons button img {
  width: 15px;
  height: 15px;
  margin: auto;
}

.window .draggable-bar .buttons button:hover {
  background-color: #ffffff7e;
}

.window .draggable-bar .buttons .close:hover {
  background-color: #ff1100;
}

.window .window-body {
  margin-top: 25px;
}

