<div>
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <div class="sidebar">
        <ul>
            <li class="sidebar-item">
                <a href="#">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Logout</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#">
                    <i class="fa-solid fa-asterisk"></i>
                    <span>Preferences</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="">
                    <i class="fa-solid fa-user"></i>
                    <span>Users</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="">
                    <i class="fa-solid fa-user-group"></i>
                    <span>Groups</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="">
                    <i class="fa-solid fa-folder-open"></i>
                    <span>Data Origin</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="">
                    <i class="fa-solid fa-gear"></i>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
    </div>
</div>