.properties .file-info{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
}

.properties .file-info input{
    border: solid gray 1px;
    outline: none;
    border-radius: 4px;
}

.properties .properties-table{
    font-size: 13px;
    user-select: none;
    margin: 5px;
    margin-top: 15px;
}

.properties .properties-table tr{
    height: 25px;
}

.properties .buttons{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: right;
    position: absolute;
    bottom: 0;
    right: 0px;
    border-top: solid rgb(211, 211, 211) 1px;
    padding-top: 3px;
}

.properties .buttons button{
    margin: 5px 2px;
    border: solid #808080 1px;
    outline: none;
    padding: 3px 5px;
    font-size: 13px;
    background-color: #f7f7f7;
}